*{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background-color: rgb(34, 40, 49);
    padding: 1rem;
}
.container{
   text-align: center;
   margin-top: 2rem;
   
}
body{
  background-color: #393E46;
  font-family: 'Roboto', sans-serif;
}

.animeList{
    width: 100%;
    background-color: #00ADB5;
    margin-top: 2rem;
    padding-top: 2rem;
}
.animes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 3px;
    
}
.anime{
    width: 25%;
   
margin-bottom: 3rem;
    padding-top: 1rem;
}
h2{
    color: white;
}
h3{
    font-size: 0.8rem;
    color: #FFF;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    
}