*{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background-color: #1B3C53;
    padding: 1rem;
}
.container{
   text-align: center;
   margin-top: 2rem;
   
}
body{
  background-color: #234C6A;
  font-family: 'Roboto', sans-serif;
}

.animeList{
    width: 100%;
    background-color: #456882;
    margin-top: 2rem;
    padding-top: 2rem;
}
.animes{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    
}
.anime{
    

   
margin-bottom: 3rem;
    padding-top: 1rem;
}
img{
    height: 200px;
}
h2{
    color: white;
}
h3{
    font-size: 0.8rem;
    color: #fff;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    margin-top: 0.8rem;
}
.submit-anime{
    margin-top: 1rem;
    margin-bottom:1rem
}

a{
    color: #fff;
    text-decoration: none;
}